


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container text-center">
        <h1>What will get you wasted tonight?</h1>
        <p>It's as easy as picking up a recipe!</p>
    </div>
</div>

<div class="container text-center mt-5">

<h1>Welcome to the bar</h1>
    <div class="cards mt-5">
        <% @cocktails.each do |cocktail| %>
            <div class="card-category d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
              <h3><%= cocktail.name %></h3>
              <div class="row">
                <%= link_to "See More", cocktail_path(cocktail), class: 'btn btn-outline-primary' %>
                <%= link_to cocktail_path(cocktail), method: :delete, class: 'btn btn-outline-danger ml-2' do %>
                  <i class="fas fa-times"></i>
                <% end %>
              </div>
            </div>
        <% end %>
        <div class="card-category" style="background-color: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
            <%= link_to new_cocktail_path(@cocktail) do %>
                <h3><i class="fas fa-plus"></i></h3>
            <% end %>
        </div>
    </div>
</div>
